

body {
margin:auto;
background-color: #7DB96F;
}

main {
  padding: 0px 34px 0px 34px;
}

header {
  background-image: url(/img/plan-de-travaille-avec-fruit.webp);
  margin-top: 8px;
  padding: 1px;
}

.carte-emojuice {
 margin: 28px 30px 30px 34px;
 padding: 28px 38px 28px 38px;
 background-color: rgba(255, 255, 255, 0.884);;
 text-align: center;
 font-family: 'Quattrocento', serif;
 font-size: 20pt;
 font-weight:400;
 color: #7DB96F;
}

.liens-produits {
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
  color: #7DB96F;
  text-align: center;
}

.encre-contact {
  text-decoration: none;
}
